<launch>

    <param name="robot_description" command="$(find xacro)/xacro $(find test_pkg)/urdf/xacro_gazebo_chp0667_bot_sensors_room/myTurtleBot.xacro"/>
<!--    <param name="robot_description" command="$(find xacro)/xacro $(find test_pkg)/urdf/xacro_gazebo_bot_in_room/demo_chp066_myTurtleBot.xacro" />-->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find test_pkg)/world/room_15x8/room_15x8.world" />
    </include>

    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model MyTurtleBot -param robot_description"  />

    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find test_pkg)/rviz/demo_chp06_myTurtleBot_arbotix.rviz"/>

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


</launch>
